.card {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: transform 150ms ease-in-out;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.7);
}

.card:hover {
    transform: scale(1.07);
    z-index: 100;
}

.card>img {
    object-fit: cover;
    /* min-width: 250px; */
    /* min-height: 200px; */
    width: 100%;
    max-height: 230px;
}

.card__info {
    padding: 20px 10px;
    background-color: #fff;
}

.card__info p {
    margin: 10px 0;
}


.card__info h3 {
    color: #333;
}